# MongoDB configuration
MONGODB_URI=mongodb://localhost:27017/cultural-places

# Application Port
PORT=3000

# Environment
NODE_ENV=development

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM=noreply@ticketsapp.com

# JWT configuration
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=1d


RABBITMQ_URL=amqp://localhost:5672
